title: Kwan Yu Kim from KOR
description: Personal homepage for Kwanyu Kim, from South Korea.
url: https://kwanyudam.github.io
baseurl: ""

# Theme settings
remote_theme: mmistakes/minimal-mistakes@4.27.3

# Site Author
author:
  name: "Kwanyu Kim"
  bio: "Personal homepage"
  location: "South Korea"

# Plugins
plugins:
  - jekyll-remote-theme
  - jekyll-include-cache
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist

# Collections
collections:
  pages:
    output: true
    permalink: /:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
